html, body {
  height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    padding-top: 54px;
}

.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}

table tr {
    font-size: .8rem;
}

thead tr:nth-child(1) th{
    position: sticky;
    top: 54px;
    z-index: 10;
    border-bottom: none;
}

thead tr:nth-child(1) th:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -1px;
    border-bottom: 1px solid black;
}

p.last-updated {
    position:fixed;
    top: -6px;
    right: 10px;
    padding-left: 12px;
    z-index: 2000;
}

p.show-items {
    position:fixed;
    top: 42px;
    left: 12px;
    z-index: 1040;
}

btn:focus, a:focus {
    outline: none;
}

.navbar-toggler:focus {
     outline: none !important;
     box-shadow: none;
}