body {
    padding-top: 54px;
}

table tr {
    font-size: .8rem;
}


thead tr:nth-child(1) th{
    position: sticky;
    top: 56px;
    z-index: 10;
    border-bottom: none;
}

thead tr:nth-child(1) th:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -1px;
    border-bottom: 1px solid black;
}