html, body {
  height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    padding-top: 3.3rem;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

.maincontent {
    max-width: 1140px;
    margin: auto;
}

table tr {
    font-size: .8rem;
}

thead tr:nth-child(1) th{
    position: sticky;
    top: 3.3rem;
    z-index: 10;
    border-bottom: none;
}

thead tr:nth-child(1) th:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -1px;
    border-bottom: 1px solid black;
}

p.last-updated {
    position:absolute;
    top: -0.4rem;
    right: 0.6rem;
    padding-left: 0.8rem;
    z-index: 2000;
}

p.show-items {
    position:absolute;
    top: 2.6rem;
    left: 0.8rem;
    z-index: 1040;
}

btn:focus, a:focus {
    outline: none;
}

.navbar-fixed-width {
    max-width: 1140px;
    margin: auto;
}

.navbar-toggler:focus {
    outline: none !important;
    box-shadow: none;
}

#alert {
	 margin-top: 0.4rem;
	 margin-bottom: 0;
}

@media screen and (max-width: 768px) {
	#alert {
	    margin-top: 0;
	}
}





